openapi: 3.1.0
info:
  title: RubyGems.org Registry Activity OIDC API
  description: OpenAPI description of the public REST API for rubygems.org, the Ruby community's gem hosting service. Covers the v1 surface documented at https://guides.rubygems.org/rubygems-org-api/ and the v2 versions endpoint documented at https://guides.rubygems.org/rubygems-org-api-v2/.
  version: 1.0.0
  contact:
    name: RubyGems.org Support
    url: https://github.com/rubygems/rubygems.org
  license:
    name: MIT
    url: https://github.com/rubygems/rubygems.org/blob/master/MIT-LICENSE
servers:
- url: https://rubygems.org
  description: Production registry
security:
- ApiKeyAuth: []
tags:
- name: OIDC
paths:
  /api/v1/oidc/api_key_role/{token}/assume_role:
    post:
      operationId: assumeOidcRole
      summary: Exchange OIDC Token For Trusted Publishing API Key
      description: Exchanges a CI provider OIDC token (GitHub Actions, GitLab CI, etc.) for a short-lived RubyGems API key scoped by a configured trusted-publishing role.
      tags:
      - OIDC
      parameters:
      - name: token
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - jwt
              properties:
                jwt:
                  type: string
      responses:
        '200':
          description: Scoped, short-lived API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  rubygems_api_key:
                    type: string
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: RubyGems API key issued in the user account settings.
    BasicAuth:
      type: http
      scheme: basic
